@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

@font-face {
    font-family: 'montserratmedium';
    src: url('../fonts/montserrat-medium-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'fontawesome-webfont';
	src: url('../fonts/fontawesome-webfont.woff2') format('woff2'),
		url('../fonts/fontawesome-webfont.woff') format('woff');
	font-display: swap;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}

body {
	font-family: montserrat;
}

.container {
	width: 1920px;
	margin: 0 auto;
	background-color: #ffffff;
}

.section-container {
	width: 1770px;
	margin: 0 auto;
	margin-bottom: 100px;
}

.title {
	font-size: 48px;
	line-height: 58.51px;
	font-weight: 400;
}

.button {
	width: 280px;
	height: 80px;
	border: 0;
	padding: 19px 37px;
	background-color: #ff9900;
	color: #fff;
}

/*=====HEADER SECTION=====*/

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100px;
	background-color: #fff;
	padding-left: 75px;
	padding-right: 75px;
}

.header-nav {
	display: flex;
}

.header-nav__list {
	display: flex;
}

.header-nav__list-item {
	margin-left: 85px;
	list-style: none;
}

.list-item__link {
	text-decoration: none;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	color: #333333;
}

.search {
	color: #333;
	width: 23px;
	height: 23px;
	background-image: url(../img/logo__header.png);
}

/*=====PROJECT SECTION=====*/

.project {
	height: 620px;
	margin: 0 75px;
	padding-top: 103px;
	padding-left: 78px;
	background-image: url(../img/project_bg.jpg);
	background-repeat: no-repeat;
	margin-bottom: 100px;
}

.project-inner {
	width: 840px;
}

.project__title {
	color: #fff;
	font-size: 70px;
	line-height: 86px;
	font-weight: 800;
	margin-top: 0;
	margin-bottom: 32px;
}

.project__description {
	color: #fff;
	font-size: 23px;
	line-height: 28px;
	font-weight: 700;
	width: 755px;
	padding-bottom: 97px;
}

.project__button {
	font-size: 22px;
	line-height: 28px;
	font-weight: 700;
}

/*=====ABOUT SECTION=====*/

.about {
	
}

.about__title {
	margin-bottom: 10px;
}

.about__description {
	width: 1235px;
	font-weight: 400;
	font-size: 16px;
	line-height: 32px;
	color: #333333;
	margin-bottom: 44px;
}

.about__inner-wrapper {
	display: flex;
}

.about__detailed-wrapper {
	width: 870px;
	height: 622px;
	position: relative;
	background-image: url(../img/about__bg.jpg);
	margin-right: 30px;
}

.detailed {
	width: 870px;
	display: flex;
	justify-content: space-between;
	padding: 38px 54px;
	height: 176px;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
    bottom: 0px;
}

.detailed__description {
	color: #fff;
	width: 497px;
	font-weight: 600;
	font-size: 16px;
	line-height: 32px;
}

.detailed__button {
	width: 175px;
	height: 60px;
	margin-top: 20px;
    margin-right: 20px;
	font-size: 16px;
	font-weight: 600;
	padding: 19px 38px;
	border: 3px solid #ff9900;
	color: #fff;
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about__card {
	display: flex;
	width: 870px;
	height: 295px;
	border: 1px solid #CACACA;
	padding: 63px 67px 118px 72px;
}

.card-img {
	margin-right: 59px;
}

.card-title {
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
}

.card-descripton {
	font-weight: 400;
	font-size: 16px;
	line-height: 32px;
	width: 452px;
}

/*=====HOW WE WORK SECTION=====*/

.work {
	
}

.we-work__title {
	margin-bottom: 38px;
}

.we-work__nav {
	margin-bottom: 49px;
}

.we-work__list {
	display: flex;
}

.we-work__list-item {
	font-size: 18px;
	line-height: 21.94px;
	font-weight: 400;
}

.we-work__list-item:not(:last-child) {
	margin-right: 89px;
}

.work__description-wrapper {
	display: flex;
	justify-content: space-between;
}

.work-description__title {
	font-size: 24px;
	line-height: 32px;
	font-weight: 700;
}

.work-description {
	width: 758px;
	font-size: 16px;
	line-height: 32px;
	font-weight: 400;
	margin-bottom: 101px;
}

.button-wrapper {
	display: flex;
}

.how-we-work__button {
	width: 175px;
	height: 60px;
	padding: 19px 38px;
	font-size: 16px;
	line-height: 19.5px;
	font-weight: 600;
	color: #fff;
	margin-right: 20px;
}

.pact__button {
	width: 150px;
	height: 56px;
	padding: 17px 36px;
	font-size: 16px;
	line-height: 19.5px;
	font-weight: 400;
	border: 1px solid #000;
	background-color: rgba(0, 0, 0, 0.0);
}

/*=====FAQ SECTION=====*/

.faq-title {
	margin-bottom: 27px;
}

.faq__block {
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.faq__span {
	font-size: 24px;
	line-height: 32px;
	font-weight: 700;
}

.faq__button {
	width: 50px;
	height: 50px;
	background-color: #ececec;
	border-radius: 25px;
	border: 0px;
	font-size: 72px;
    line-height: 53px;
}